.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/iiMenuCopys/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/iiMenuCopys/FileContentIndex/da7814a3-7190-40a8-bfcd-b59e19f2ee1a.vsidx
.vs/iiMenuCopys/v17/.suo
.vs/iiMenuCopys/v17/DocumentLayout.json
